<div class="page">
    <div class="section-description">
        <div class="p-title">Skills learned</div>
        <div class="p-description">
            Through this journey as self-taught coder i am happy to say that i have learned these technologies along the way.
        </div>
        <div class="skills">
            <div class="skill-board">
                <div class="skill-container">HTML</div>
                <div class="skill-container">CSS/SCSS</div>
            </div>
            <div class="skill-board">
                <div class="skill-container">JavaScript</div>
                <div class="skill-container">TypeScript</div>
            </div>
            <div class="skill-board">
                <div class="skill-container">Angular.io</div>
                <div class="skill-container">Java</div>
            </div>
            <div class="skill-board">
                <div class="skill-container">Figma</div>
                <div class="skill-container">GitHub</div>
            </div>
            <div class="skill-board">
                <div class="skill-container">BD.integration</div>
                <div class="skill-container">Documentation</div>
            </div>
    
        </div>
    </div>
 
</div>
