<div class="page">
   <div class="page-content">
        <div class="section">
            <div class="section-title">
                <img src="assets/icons/model-cube-green.png" alt="">
                <span>Software</span>
            </div>
            <div class="section-description">
                <span>Languages</span>
                <div class="skill-container">
                    <div class="skil-body">
                        <img src="assets/icons/star-icon.png" alt="">
                        <span>HTML</span>
                    </div>
                    <div class="skil-body">
                        <img src="assets/icons/star-icon.png" alt="">
                        <span> CSS/SCSS</span>
                    </div>
                    <div class="skil-body">
                        <img src="assets/icons/star-icon.png" alt="">
                        <span>JavaScript</span>
                    </div>
                    <div class="skil-body">
                        <img src="assets/icons/star-icon.png" alt="">
                        <span>TypeScript</span>
                    </div>
                    <div class="skil-body">
                        <img src="assets/icons/star-icon.png" alt="">
                        <span>Angular.io</span>
                    </div>
                    <div class="skil-body">
                        <img src="assets/icons/star-icon.png" alt="">
                        <span>GitFlow</span>
                    </div>
                </div>
                <div class="skill-container">
                    <div class="skil-body">
                        <img src="assets/icons/star-icon.png" alt="">
                        <span>Documentation</span>
                    </div>
                </div>
                <span>Design</span>
                <div class="skill-container">
                    <div class="skil-body">
                        <img src="assets/icons/star-icon.png" alt="">
                        <span>Figma</span>
                    </div>
                    <div class="skil-body">
                        <img src="assets/icons/star-icon.png" alt="">
                        <span>Adobe photoshop</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-title">
                <img src="assets/icons/write-icon.png" alt="">
                <span>Writing</span>
            </div>
            <div class="section-description">
                <span>Writing has been to me a form of therapy but also, fun and engaging</span>
                <div class="social-links">
                    <div class="link-item">
                        <img src="assets/icons/book-icon.png" alt="">
                        <span>First Book - </span>
                        <span class="green-links">Sementes de ouro</span>
                    </div>
                    <div class="link-item">
                        <img src="assets/icons/newsletter-icon.png" alt="">
                        <span>My news letter on substack - </span>
                        <span class="green-links"> Needles eye</span>
                    </div>
                </div>
            </div>
        </div>
   </div>
  
</div>
