@media (max-width: 767px) {
    .section-description{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .skills{
            display: grid;
            grid-template-columns: auto;
            .skill-board{
                margin: auto;
            }
        }
    }

}
@media (max-width: 400px) {
    .page{
        .section-description{
            .p-description{
                font-size: 20px;
            }
        }
    }
}