<div class="page">
    
    <div class="section-description">
        <div class="p-title">Skills learned</div>
        <div class="p-description">
            Through this journey as self-taught coder i am happy to say that i have learned these technologies along the way.
        </div>
        <div class="skills">
            <div class="skill-board">
                <div class="skill-name">HTML</div>
                <div class="skill-name">CSS/SCSS</div>
            </div>
            <div class="skill-board">
                <div class="skill-name">JavaScript</div>
                <div class="skill-name">TypeScript</div>
            </div>
            <div class="skill-board">
                <div class="skill-name">Angular.io</div>
                <div class="skill-name">Java</div>
            </div>
            <div class="skill-board">
                <div class="skill-name">Figma</div>
                <div class="skill-name">GitHub</div>
            </div>
            <div class="skill-board">
                <div class="skill-name">BD.integration</div>
                <div class="skill-name">Documentation</div>
            </div>
    
        </div>
    </div>
 
</div>
