.page{
    gap: 30px;
    .section-description{
        padding: 20px;
    }
}
.p-description{
    font-size: 25px;
    color: var(--section-text-color);
    padding: 20px;
    margin-left: 21px;
}
.skills{
    display: flex;
    gap: 10px;
    margin-left: 40px;
    .skill-board{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .skill-name{
            border: 2px solid gray;
            width: 200px;
            border-radius: 10px;
            padding: 13px;
            text-align: center;
            color: gray;
            font-size: 24px;
        }
    }
}