.footer{
    text-align: center;
    border-top: 1px solid #464646;
    margin-top: 10px;
}
.footer-content{
    font-size: 30px;
    padding: 25px;
    color: var(--section-text-color);
    .link-tag{
        text-decoration: none;
        color: var(--section-title-color);
    }
    
}