.page{
    gap: 23px;
}
.writing-grid{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px
}
.writing-section{
    border: 2px solid var(--btn-border-color);
    box-shadow: 5px 3px 3px rgb(42 36 36);
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    &:hover{
        background-color: #4b4a4a;
    }
    .post-description{
        display: flex;
        flex-direction: column; 
        gap: 17px;
        padding: 10px;
        width: 100%;   
        .p-title{
            font-size: 30px;
            margin-left: 10px;
            color: var(--section-title-color);
        }
        .p-description{
            font-size: 25px;
            margin-left: 20px;
            //width: 900px;
            color: var(--section-text-color);
        }
        .p-footer{
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            margin-left: 20px;
            color: #89959f;
            .publication-date{
                margin-right: 30px;
            }
        }
    }
    
}