<div class="page">
    <div class="writing-section">
        <div class="image-container"></div>
        <div class="post-description">
            <span class="p-title">Title of the post</span>
            <span class="p-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam at reprehenderit sit quos possimus. Nihil at esse possimus impedit vitae officiis.
                 Libero quod iusto reprehenderit blanditiis quae dolores at quasi?
            </span>
            <div class="p-footer">
                <span>3 min read</span>
            </div>
        </div>
    </div>
    <div class="writing-section">
        <div class="image-container"></div>
        <div class="post-description">
            <span class="p-title">Title of the post</span>
            <span class="p-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam at reprehenderit sit quos possimus. Nihil at esse possimus impedit vitae officiis.
                 Libero quod iusto reprehenderit blanditiis quae dolores at quasi?
            </span>
            <div class="p-footer">
                <span>3 min read</span>
            </div>
        </div>
    </div>
</div>
