.page{
    gap: 23px;
}
.writing-section{
    border: 2px solid var(--btn-border-color);
    box-shadow: 5px 3px 3px rgb(42 36 36);
    border-radius: 5px;
    //margin-right: 24px;
    cursor: pointer;
    display: flex;
    .image-container{
        height: 200px;
        width: 301px;
        text-align: center;
        padding-bottom: 10px;
        .publication-date{
            font-size: 20px;
            color: aliceblue;
        }
        img{
            height: 153px;
            border-radius: 10px;
        }
       
    }
    .post-description{
        display: flex;
        flex-direction: column; 
        gap: 17px;
        padding: 10px;
        width: 100%;   
        .p-title{
            font-size: 30px;
            margin-left: 10px;
            color: var(--section-title-color);
        }
        .p-description{
            font-size: 25px;
            margin-left: 20px;
            //width: 900px;
            color: var(--section-text-color);
        }
        .p-footer{
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            margin-left: 20px;
            color: #89959f
        }
    }
    
}