.page-container{
    background-color: var(--page-green-background-color);
    height: 100%;

    .content{
        height: 100%;

        .navigation-container{
          
            display: flex;
            justify-content: center;
            padding-top: 35px;
            gap: 14px;
            width: 100%;

            .image-container{
                width: 140px;
                .img-body{
                    background-color: #D9D9D9;
                    width: 129px;
                    height: 129px;
                    border-radius: 75px;
                    text-align: center;
                    img{
                        width: 123px;
                    }

                }
            }

            .navigation-body{
                width: 620px;

                .nav-header{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .header-name{
                        color: #c1bbbb;
                    }
                    .header-sub{
                        color: #8b8b8b;
                        font-weight: bold;
                    }
                }
                
                .nav-menu-links{
                    margin-top: 10px;
                    display: flex;
                    border-top: 1px solid #A4A2A2;
                    border-bottom: 1px solid #A4A2A2;
                    .link-item{
                        color: #c1bbbb;
                        padding: 20px;
                        &:hover,&.active{
                            cursor: pointer;
                            border-bottom: 2px solid var(--section-title-color);
                            color: black;
                        }   
                        
                    }

                }
            }
        }

        .page-content{
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 11px;

            .page-content-body{
                // border: 1px solid #5b585f;
                border-top: 1px solid #5b585f;
                border-left: 1px solid #5b585f;
                border-right: 1px solid #5b585f;
                width: 778px;
                height: 492px;
                border-radius: 5px;

                .footer-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                    .social-list{
                            display: flex;
                            gap: 10px;
                            padding-top: 8px;
                            // color: #8b8b8b;
                           
                            .link{
                                cursor: pointer;
                                a{
                                    text-decoration: none;
                                    color: black;
                                    &:hover{
                                        color: var(--section-title-color);
                                    }
                                }
                            }
                    }

                    .footer-border{
                        width: 400px;
                        border-top: 2px solid #696969;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        color: #8b8b8b;
                        font-family: system-ui;
                    }
                    
                }
            }
        }
    }


}