@media (max-width: 767px) {
    .page{
        .section-description{
            font-size: 20px;
            padding: 20px;
        }
    }
    .project-grid{
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
    }

  
}
@media (max-width: 570px) {
    .page{
        margin-top: 0px;
    }
}
