<div class="page">
    <div class="section-description">
        <div class="project-grid">
            <div class="project-container" 
                 *ngFor="let item of content"
                 (click)="navigate(item.link)">
                <div class="p-content">
                    <div class="p-header">
                        <div class="project-photo-container"></div>
                        <div class="project-description-container">
                            <div class="p-title">{{item.title}}</div>
                            <div class="p-description">{{item.description}}</div>
                        </div>
                    </div>
                    <div class="p-body">
                        <img src="assets/icons/github.png" alt="">
                        <span class="btn-link">GitHub</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>
