.project-grid{
    display: grid;
    ///grid-template-columns: auto auto auto;
    grid-template-columns: repeat(3, minmax(265px, 1fr));
    //margin-top: 60px;
    gap: 17px;
    .project-container{
        height: 232px;
        border: 2px solid var(--btn-border-color);
        border-radius: 8px;
        box-shadow: 1px 3px 3px rgb(42 36 36);
        cursor: pointer;
        transform: 1s;
        &:hover{
            //transform:rotateY('angle');
        }
        .p-content{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
           
            margin-left: 10px;
            margin-right: 10px;
            .p-header{
                .project-description-container{
                    .p-title{
                        font-size: 34px;
                        color: var(--section-title-color);
                    }
                    .p-description{
                        margin-top: 16px;
                        font-size: 21px;
                        color: #b7b4af;
                        font-size: 21px;
                    }
                }
            }
            .p-body{
             
                border: 2px solid var(--btn-border-color);
                border-radius: 7px;
                background-color: rgba(56, 51, 51, 0.4);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 4px;
                cursor: pointer;
                img{
                    height: 32px;
                }
                &:hover{
                    background-color: rgba(56, 51, 51, 0.7);
                    color: #b7b4af;
                }
                .btn-link{
                    font-size: 21px;
                }
            }
        }
     
    }
}