<div class="page">
    <div class="project-grid">
        <div class="project-container">
            <div class="p-content">
                <div class="p-header">
                    <div class="project-photo-container"></div>
                    <div class="project-description-container">
                        <div class="p-title">Web Application</div>
                        <div class="p-description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Maxime ea autem ipsum fugit? Ipsum, minima, nobis repellat eligendi fugiat corporis distinctio
                        </div>
                    </div>
                </div>
                <div class="p-body">
                    <img src="assets/icons/github.png" alt="">
                    <span class="btn-link">GitHub</span>
                </div>
            </div>
        </div>

        <div class="project-container"> project name</div>
        <div class="project-container"> project name</div>
        <div class="project-container"> project name</div>
        <div class="project-container"> project name</div>
        <div class="project-container"> project name</div>
    </div>
</div>
