:root{
    //#3c4b4b
    //#002752 - blue
    //#009688 - green
    --page-background-color: #262727;
    --page-width: 1338px;
    --header-height: 250px;
    --section-title-size: 40px;
    --section-title-color:#009688;
    --section-text-color:#9E9E9E;
    --btn-border-color: #5a6060;
    

}