<div class="page-content">

    <div class="navigation-container">

        <div class="navigation-header">
            <div class="photo">
                <img src="assets/imgs/profileAvatar.png" alt="">
            </div>
            <div class="navigation-sub-title">Thales Carvalho</div>
        </div>

        <div class="nav-body">
            <div class="sub-btns">
                <div class="sub-btn">
                    <span>Computer Science</span>
                </div>
                <div class="sub-btn">
                    <span>Writing</span>
                </div>
            </div>
            <div class="link-btn">
                <a class="default-btn" href="https://souzathalez.substack.com/">
                    Newsletter 
                </a>
            </div>
            <div class="link-btn">
                <a class="default-btn" href="https://www.amazon.com.br/dp/B0D31ZB4YV">
                    Meu livro
                </a>
            </div>
            <div class="link-btn">
                <div class="default-btn" routerLink="../private/about">
                    <span>Website</span>
                </div>
            </div>
            <div class="link-btn">
                <a class="default-btn" href="https://github.com/SouzaThalez">
                    Github 
                </a>
            </div>
            <div class="link-btn">
                <a class="default-btn" href="https://www.instagram.com/souzadiaries/">
                    Instagram 
                </a>
            </div>
        </div>

    </div>

</div>