<div class="page-container">
  <div class="page-content">
        <div class="navegation-container">
            <div class="navegation-header">
                <div class="photo">
                    <img src="assets/imgs/profileAvatar.png" alt="">
                </div>
            </div>
            <div class="navegation-sub-header">Thales Carvalho</div>
            <div class="navegation-body">
                <div class="sub-btns">
                    <div class="sub-btn">
                        <span>Self-taught coder</span>
                    </div>
                    <div class="sub-btn">
                        <span>Writing</span>
                    </div>
                </div>
                <div class="default-btn">
                    <span>Newsletter</span>
                </div>
                <div class="default-btn">
                    <span>Linkedin</span>
                </div>
                <div class="default-btn" routerLink="../private">
                    <span>Website</span>
                </div>
                <div class="default-btn">
                    <span>Github</span>
                </div>
                <div class="default-btn">
                    <span>Instagram</span>
                </div>
            </div>
        </div>
  </div>
</div>
