<div class="page-container">
  <div class="page-content">
        <div class="navigation-container">
            <div class="navigation-header">
                <div class="photo">
                    <img src="assets/imgs/profileAvatar.png" alt="">
                </div>
                <div class="navigation-title">Thales Carvalho</div>
            </div>
            <div class="nav-body">
                <div class="sub-btns">
                    <div class="sub-btn">
                        <span>Self-taught coder</span>
                    </div>
                    <div class="sub-btn">
                        <span>Writing</span>
                    </div>
                </div>
                <div class="link-btn">
                    <a class="default-btn" href="https://souzathalez.substack.com/">
                        Newsletter 
                    </a>
                </div>
                <div class="link-btn">
                    <a class="default-btn" href="https://www.linkedin.com/in/thales-carvalho-506642bb/">
                        Linkedin 
                    </a>
                </div>
                <div class="link-btn">
                    <div class="default-btn" routerLink="../private/about">
                        <span>Website</span>
                    </div>
                </div>
                <div class="link-btn">
                    <a class="default-btn" href="https://github.com/SouzaThalez">
                        Github 
                    </a>
                </div>
                <div class="link-btn">
                    <a class="default-btn" href="https://www.instagram.com/souzadiaries/">
                        Instagram 
                    </a>
                </div>
            </div>
            
        </div>
  </div>
</div>
