@media (max-width: 400px) {
    .nav-bar{
        .nav-bar-links{
            padding: 17px !important;
            margin-left: 10px !important;
            margin-right: 10px !important;
            height: 30px !important;
            .link-item{
                padding: 4px !important;
                margin-right: 2px !important;
            }
        }
    }
   
}