.nav-bar{
    //border: 1px solid wheat;
    height: var(--top-bar-height);
    position: fixed;
    width: 100%;
    .nav-bar-links{
        height: 90px;
        display: flex;
        align-items: center;
        background-color: #424242;
        border: 1px solid grey;
        border-radius: 40px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        .link-item{
            height: 17px;
            padding: 22px;
            font-size: 20px;
            //border: 1px solid var(--section-title-color);
            margin-right: 10px;
            cursor: pointer;
            border-radius: 10px;
            &.active{
                background-color: var(--section-title-color);
            }
        }
    }
}