<div class="page">
    <div class="page-content">

        <div class="section">
            <div class="section-title">
                <img src="assets/icons/model-cube-green.png" alt="">
                <span>About me</span>
            </div>
            <div class="section-description">
                One of the greatest and most fascinating things I find in life... is the ability to have control of your time.
                I feel like it's very easy in today's age to ease our minds into thinking that once you get into a corporate job you should do only that and that's it!
                Imagine giving your precious time to a company and a boss that is not you. This idea scares me a lot so I decided to seek my own path and find other types of income streams.
                Follow me on this journey as a self-taught coder and passionate writer. I am very excited about the future of tech, and I think we are headed to a world of many opportunities.
             
            </div>
        </div>
  
        <div class="section">
            <div class="section-title">
                <img src="assets/icons/graduate-green.png" alt="">
                <span>Education</span>
            </div>
            <div class="section-description">
                I have completed my  bachelor's degree in Computer Science in 2019.
            </div>
        </div>
        
        <div class="section">
            <div class="section-title">
                <img src="assets/icons/react.png" alt="">
                <span>Interests</span>
            </div>
            <div class="section-description">
                Im passionate about almost  anything related to the improvement of the human being.
                I write for passion, drive a motorcycle, love skating and playing guitar.  
            </div>
        </div>

    </div>
</div>
