<div class="page">
    <div class="page-content">
        <div class="section-title">About me</div>
        <div class="section-description">
            One of the greatest and most fascinated things i find in life... is the ability to have control of your time.
            I feel like it's very easy in todays age to ease our minds into thinking that once you get into a corporate job you should do only that and that's it!
            Imagine giving your precious time for a company and a boss that is not you ? 
            This idea scares me alot so i decided to seek my own path and find other types of income streams.
            Follow me on this journey as a self-taught coder and passionate writer.
            I am very exited about the future of tech, and i think we are headed to a world of many opportunities.
           <p>Welcome!!</p>
           <p>You can also follow my <a class="link-tag" href="https://www.instagram.com/souzadiaries/">Instagram</a> to see my journey.</p>
        </div>
    
        <div class="section-title">Education</div>
        <div class="section-description">
            I have completed my  bachelor's degree in Computer Science in 2019.
        </div>
    
        <div class="section-title">Interests</div>
        <div class="section-description">
            Im passionate about almost  anything related to the improvement of the human being.
            I write for passion, drive a motorcycle, love skating and playing guitar.  
        </div>
    </div>
</div>
