.page-content{
    margin-left: 40px;
    height: calc(100% - var(--top-bar-height)); 
}
.section-title{
    font-size: 40px;
    margin-left: 25px;
    color: var(--section-title-color);
}
.section-description{
    font-size: 30px;
    padding: 25px;
    color: var(--section-text-color);
    .link-tag{
        text-decoration: underline;
        color: var(--section-title-color);
    }
}